.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;

  }
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #fff;
  align-items: center;
  text-align: center;


  

}


.sociales{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  text-align: center;


}
.sociales li{
  margin: 0 10px;
  align-items: center;
  text-align: center;
  

}
.sociales a{
  text-decoration: none;
  color: #fff;
  align-items: center;
  text-align: center;

}
.sociales a i{
  font-size: 1.1rem;
  transition: color .4s ease;
  align-items: center;
  text-align: center;

}
.sociales a:hover i{
  color: #00ffff;

}
.footer-bottom{
  background: #111;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;

}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  color: #fff;



}
