.footer{
   
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(143, 108, 108, 0);
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .5s ease;
    margin-top: 50px;
  }
  
 