.introduccion {
    color: rgb(249, 244, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 200px;
    font-size: 50px;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em; }

.inicio {
        display: flex;
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding: 50px;
        margin: 1px;
        text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    
    }
    
