$introduccion: rgba(240, 248, 255, 0.982); 
$inicio: rgb(245, 245, 245);
$hover: rgb(0, 0, 0);
$redes:(
    logofacebook:#3a5795,
    logoinstagram: #833a95b1,

);
$logofacebook: (
    border-radius: 10px,
    boder: 2px,
);

